body{
	margin-right: 50px;
	margin-bottom: 50px;
}

a{
	text-decoration: none;
}

img{
	position: absolute;
	top: 60px;
	left: 400px;
	width: 300px;
	height: 300px;
}

#ingredients{
	width: 350px;
	min-height: 270px;
}

#ignore{
	width: auto;
	min-height: auto;
}

p{
	margin: 0;
}

#inner{
	padding-left: 20px;
}

