html, body {
  height: 100%;
  min-height: 100%;
}
div{
	float: left;
}
form{
	height: 180px;
}
select, input:not([type=checkbox]){
	width: 300px;
}
button{
	width: 100px;
	height: 25px;
	margin-left: 10px;
	margin-right: 10px;
}
img{
	position: absolute;
	left: 9px;
	height: 45px;
	font-size:12px;
	font-weight: normal;
}
a{
	position: absolute;
	left: 60px;
	margin-top: 12px;
}
hr{
	height: 1px;
	visibility: hidden;
}
#browse{
	position: static;
}
#buttons{
	margin-top: 60px;
	margin-bottom: 60px;
}
#buttons1{
	float: none;
	text-align: center;
	margin-bottom: 10px;
}
#buttons2{
	float: none;
	text-align: center;
}
#remove, #removeAll{
	margin-left: 0px;
}
#third{
	visibility: hidden;
}
#submit{
	margin: 0px;
}
#par{
	margin-top: 40px;
}
#lin{
	float: none;
	height: 45px;
	margin: 0px;
	padding-top: 5px;
}